<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture analyzer</title>
</head>
<body>
    upload image
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="text" name="colour_code">
        <button type="submit">Загрузить</button>
    </form>

    {% if image_object %}
        <p>{{message1}}</p>
        <p>{{message2}}</p>
        <img src="{{image_object.image.url}}" style="max-height:400px">
    {% endif %}
</body>
</html>